<div *ngIf="!isLoading" id="unit-content">
    <div class="toolbars">
        <div class="toolbar-btn" (click)="showPopupItem()">
            <div class="toolbar-btn-icon"> <i class="fas fa-plus"></i> </div> <span class="toolbar-btn-text"> Thêm mới
            </span>
        </div>
        <div class="toolbar-btn">
            <div class="toolbar-btn-icon"> <i class="fas fa-sync-alt"></i> </div> <span class="toolbar-btn-text"> Nạp
            </span>
        </div>
    </div>
    <div class="main-content">
        <div class="large-grid grid-wrapper">
            <nz-table #groupingTable [nzData]="listOfDisplayData" nzBordered nzSize="small"
                [nzWidthConfig]="widthConfig" [nzPageSize]="14" [nzScroll]="scrollConfig">
                <thead>
                    <tr>
                        <th> Mã nhóm hàng hóa  </th>
                        <th> Tên nhóm hàng hóa </th>
                        <th> Mô tả </th>
                        <th> Trạng thái </th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of groupingTable.data" (dblclick)="onClickEditItem(data)">
                        <td> {{data.ItemGroupCode}} </td>
                        <td class="no-cell"> {{data.ItemGroupName}} </td>
                        <td> {{data.Description}} </td>
                        <td> {{data.Status == 1 ? 'Đang kinh doanh' : 'Ngừng kinh doanh'}} </td>
                        <td class="option-column">  <i (click)="onClickEditItem(data)" class="option-icon fas fa-pencil-alt"></i> <i (click)="onClickRemoveItem(data)" class="option-icon fas fa-trash"></i>   </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<dx-popup [showTitle]="true" [width]="500" [height]="'auto'" [title]="popupTitle" [dragEnabled]="true"
[(visible)]="popupVisible">
    <div class="inner-popup-content">
        <div class="grid-2-150">
            <div>Mã nhóm hàng hóa <span class="require"> *</span></div>
            <div>
                <dx-text-box [(value)]="itemGroupObj.ItemGroupCode">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Không được để trống"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
        <div class="grid-2-150">
            <div>Tên nhóm hàng hóa <span class="require"> *</span></div>
            <div>
                <dx-text-box [(value)]="itemGroupObj.ItemGroupName">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="Không được để trống"></dxi-validation-rule>
                    </dx-validator>
                </dx-text-box>
            </div>
        </div>
        <div class="grid-2-150">
            <div>Diễn giải</div>
            <div>
                <dx-text-area [(value)]="itemGroupObj.Description"></dx-text-area>
            </div>
        </div>
        <div class="grid-2-150"> 
            <div></div>
            <div>
                <dx-check-box [(value)]="itemGroupObj.Status"></dx-check-box>
                <span class="m-l-8"> {{itemGroupObj.Status == 1 ? 'Đang kinh doanh' : 'Ngừng kinh doanh'}} </span>
            </div>
        </div>
    </div>
    <div class="popup-footer">
        <div class="flex-grow"></div>
        <div class="popup-footer-btn">
            <div class="footer-btn">
                <dx-button stylingMode="contained" text="Lưu" icon="fa fa-save" type="default" [width]="90"
                    (onClick)="onSave($event)" [useSubmitBehavior]="true">
                </dx-button>
            </div>
            <div class="footer-btn">
                <dx-button stylingMode="outlined" icon="plus" text="Lưu và thêm mới" type="default"
                    (onClick)="onSaveAndAdd($event)" width="170" [useSubmitBehavior]="true"> </dx-button>
            </div>
            <div class="footer-btn">
                <dx-button stylingMode="text" text="Hủy" type="normal" [width]="70" (onClick)="onCancel($event)">
                </dx-button>
            </div>
        </div>
    </div>
</dx-popup>

<app-loading *ngIf="isLoading"></app-loading>

<popup-delete *ngIf="visibleDelPopup"
    [title]="popupDeleteObj.title"
    [content]="popupDeleteObj.content"
    [delItemID]="popupDeleteObj.itemDelId"
    [(visible)]="popupDeleteObj.itemDelId"
    (cancelDel)="cancelDel($event)" 
    (confirmDel)="confirmDelele($event)" ></popup-delete>